.contact_container{
    /* display: flex; */
     background-color: #252934;
     height:auto;
     padding-bottom: 50px ;
     
     /* flex-wrap: wrap; */
     
     
 }
 .contact_head{
     display: flex;
     justify-content: space-around;
     font-size: 25px;
     
     
 }
 .contact_head h3{
     text-transform:uppercase;
     color: white;
     text-align: center;
     border-bottom: 2px solid white;
     
 }
 .contact_para p{
     margin: 0;
     padding: 0;
    color: white;
    text-align: center;
    height:50px;
    color:#08C4FF;
    
}

.form{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 50px; */
}
.form input{
    border:none;
    border-radius: 5px;
    width: 35%;
    margin: 1px;
    height: 30px;
    background-color: #1E242C;
    color: white;

    
}
.form input::placeholder{
    padding: 10px;
    font-weight: lighter;
    color: #0EC0E7;
}

.form textarea{
    border:none;
    border-radius: 5px;
    width: 35%;
    height:100px;
    background-color: #1E242C;
    color: white;
}

.form textarea::placeholder{
    padding: 10px;
    font-weight: lighter;
    color: #0EC0E7;
}
.form  button{
    margin-top: 3px;
    width: 35%;
    height: 30px;
    text-transform: uppercase;
    border:none;
    background-color: #1E242C;
    border-radius: 5px;
    color: #0EC0E7;
}
.form button:hover{
    margin-top: 3px;
    width: 35%;
    height: 30px;
    text-transform: uppercase;
    background-color: #349C9C;
    color:white;
    border:none;
    
    
}

@media only screen and (max-width: 768px) {
    .contact_head{
        font-size: 20px;
    }


}